/*
*  .border-radius(5px);
*/
.border-radius(@radius) {
    -moz-border-radius: @radius; /* FF1-3.6 */
    -webkit-border-radius: @radius; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    border-radius: @radius; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

/*
*  .border-top-left-radius(5px);
*/
.border-top-left-radius(@radius) {
    -webkit-border-top-left-radius: @radius;
    -moz-border-radius-topleft: @radius;
    border-top-left-radius: @radius;
}

/*
*  .border-top-right-radius(5px);
*/
.border-top-right-radius(@radius) {
    -webkit-border-top-right-radius: @radius;
    -moz-border-radius-topright: @radius;
    border-top-right-radius: @radius;
}

/*
*  .border-bottom-left-radius(5px);
*/
.border-bottom-left-radius(@radius) {
    -webkit-border-bottom-left-radius: @radius;
    -moz-border-radius-bottomleft: @radius;
    border-bottom-left-radius: @radius;
}

/*
*  .border-bottom-right-radius(5px);
*/
.border-bottom-right-radius(@radius) {
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-radius-bottomright: @radius;
    border-bottom-right-radius: @radius;
}

/*
*  Set each corner individually
*  Order: Top Left, Top Right, Bottom Right, Bottom Left.
*
*  .border-radius-corners(1px, 2px, 2px, 1px);
*/
.border-radius-corners(@tl, @tr, @br, @bl) {
    .border-top-left-radius(@tl);
    .border-top-right-radius(@tr);
    .border-bottom-right-radius(@br);
    .border-bottom-left-radius(@bl);
}


/*
*  .box-shadow(0px, 0px, 4px, 2px, #ffffff);
*/
.box-shadow(@h, @v, @blur:0, @spread:0, @color:#000) {
    -moz-box-shadow: @arguments; /* FF3.5 - 3.6 */
    -webkit-box-shadow: @arguments; /* Saf3.0+, Chrome */
    box-shadow: @arguments; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
}


/*
*  .box-shadow-inset(0px, 0px, 4px, 2px, #ffffff);
*/
.box-shadow-inset(@h, @v, @blur:0, @spread:0, @color:#000) {
    -moz-box-shadow: inset @arguments; /* FF3.5 - 3.6 */
    -webkit-box-shadow: inset @arguments; /* Saf3.0+, Chrome */
    box-shadow: inset @arguments; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
}


/*
*  .gradient("#FF0000", "#00FF00");
*/
.gradient(@start, @stop) {
    background-color: @start;
    background-image: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, @start, @stop); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, @start, @stop); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, @start, @stop); /* IE10 */
    background-image:      -o-linear-gradient(top, @start, @stop); /* Opera 11.10+ */
    background-image:         linear-gradient(top, @start, @stop);
}


/*
*  .rgba(0, 0, 0, 0.2);
*/
.rgba(@r, @g, @b, @a:1) {
    background-color: rgb(@r, @g, @b);
    background-color: rgba(@r, @g, @b, @a);  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9  */
}


/*
*  .rotate(7.5deg);
*/
.rotate(@deg) {
    -moz-transform: rotate(@deg);  /* FF3.5+ */
    -o-transform: rotate(@deg);  /* Opera 10.5 */
    -webkit-transform: rotate(@deg);  /* Saf3.1+, Chrome */ 
    -ms-transform: rotate(@deg);  /* IE9  */
    transform: rotate(@deg); 
}


/*
*  .transition(color);
*/
.transition(@property:all, @duration:0.5s, @transition:linear, @delay:0s) {
    -webkit-transition: @arguments;  /* Saf3.2+, Chrome */
    -moz-transition: @arguments;  /* FF4+ */
    -ms-transition: @arguments;  /* IE10? */
    -o-transition: @arguments;  /* Opera 10.5+ */
    transition: @arguments;  
}


/*
*  .background-size(50%, 50%);
*/
.background-size(@width:100%, @height:100%) {
    -webkit-background-size: @arguments; /* Saf3-4 */
    -moz-background-size: @arguments; /* FF3.6 */
    background-size: @arguments; /* Opera, IE9, Saf5, Chrome, FF4 */
}


/*
*  .columns(2, 15px);
*/
.columns(@count, @gap) {
    -webkit-column-count: @count;  -webkit-column-gap: @gap; /* Saf3, Chrome */
    -moz-column-count: @count;     -moz-column-gap: @gap; /* FF3.5+  */
    column-count: @count;          column-gap: @gap; /* Opera 11+ */
}
